@model MVCAlquilerAutos.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>Editar Usuario</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UsuarioId" />

    <div class="mb-3">
        <label asp-for="NombreCompleto" class="form-label"></label>
        <input asp-for="NombreCompleto" class="form-control" />
        <span asp-validation-for="NombreCompleto" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Dni" class="form-label"></label>
        <input asp-for="Dni" class="form-control" />
        <span asp-validation-for="Dni" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FechaNacimiento" class="form-label"></label>
        <input asp-for="FechaNacimiento" class="form-control" type="date" />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Pais" class="form-label"></label>
        <input asp-for="Pais" class="form-control" />
        <span asp-validation-for="Pais" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Direccion" class="form-label"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FechaRegistro" class="form-label"></label>
        <input asp-for="FechaRegistro" class="form-control" type="date" readonly />
        <span asp-validation-for="FechaRegistro" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Activo" class="form-label">Estado</label>
        <select asp-for="Activo" class="form-select">
            <option value="true" selected="@(Model.Activo ? "selected" : null)">Activo</option>
            <option value="false" selected="@(Model.Activo ? null : "selected")">No Activo</option>
        </select>
        <span asp-validation-for="Activo" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
