@model MVCAlquilerAutos.Models.Login

<h2>Iniciar Sesión</h2>
<form asp-action="Login" method="post">
    <label>Usuario</label>
    <input asp-for="Usuario" />
    <span asp-validation-for="Usuario"></span>

    <label>Contraseña</label>
    <input asp-for="Contrasena" type="password" />
    <span asp-validation-for="Contrasena"></span>

    <button type="submit">Ingresar</button>
</form>