@model MVCAlquilerAutos.Models.Register

<h2>Registrar Usuario</h2>
<form asp-action="Register" method="post">
    <label>Nombre</label>
    <input asp-for="Nombre" />
    <span asp-validation-for="Nombre"></span>

    <label>Usuario</label>
    <input asp-for="Usuario" />
    <span asp-validation-for="Usuario"></span>

    <label>Email</label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label>Contraseña</label>
    <input asp-for="Contrasena" type="password" />
    <span asp-validation-for="Contrasena"></span>

    <button type="submit">Registrar</button>
</form>